@import './variables';

html {
    height: 100%;
}

body {
    min-width: 320px;
    height: 100%;
    margin:0; padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: $shark;
    color: $wild_sand;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.h-100 {
    height: 100%;
}

.min-h-100 {
    min-height: 100%;
}

.w-100 {
    width: 100%!important;
}

.w-50 {
    width: 50%;
}

.p-a {
    padding: 1.25rem;
}

.m-a {
    margin: 1.25rem;
}

.m-t {
    margin-top: 1.25rem;
}
.m-auto {
    margin: auto;
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

// material class
th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type {
    padding-left: 24px;
}