@import "./../../styles/variables";

.img-container {
    position: relative;
    padding-bottom: 56.25%;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}

.fill {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: rgba($shark, .9);
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: .5rem;
}


@media screen and (max-width: 599px) {
    .title {
        font-size: 1.2rem;
    }
}