<div fxLayout.lt-sm="column"
     fxLayout.sm="column"
     fxLayout="row"
     fxFlex="100">

    <div fxFlex="50"
         fxFlex.lt-sm="100"
         [ngClass.gt-sm]="'m-a'"
         class="img-container">
        <img routerLink="/movies"
             class="fill cursor-pointer"
             src="./../../assets/images/movie.jpeg" />
        <p routerLink="/movies"
           class="title p-a cursor-pointer">movies</p>
    </div>
    <div fxFlex="50"
         fxFlex.lt-sm="100"
         [ngClass.gt-sm]="'m-a'"
         [ngClass.lt-sm]="'m-t'"
         class="img-container">
        <img routerLink="/characters"
             class="fill cursor-pointer"
             src="./../../assets/images/character.png" />
        <p routerLink="/characters"
           class="title p-a cursor-pointer">characters</p>
    </div>

</div>