<div mat-dialog-close
     type="button"
     fxLayout="row"
     fxLayoutAlign="end">
    <mat-icon>close</mat-icon>
</div>
<h1 class="text-center">Opsss...</h1>
<div class="text-center"
     [innerHtml]="data.content"></div>