<div *ngIf="loading"
     class="loading">
    <p>Loading movies</p>
    <mat-spinner color="accent"></mat-spinner>
</div>
<div *ngIf="!loading && !selectedMovie"
     fxLayout="column"
     fxFlex="100">
    <h1 style="text-align: center;">Movies</h1>
    <table mat-table
           [dataSource]="moviesList"
           class="m-auto m-a">
        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell
                *matHeaderCellDef
                class="p-l"> Title </th>
            <td class="cursor-pointer"
                mat-cell
                *matCellDef="let movie"
                (click)="selectMovie(movie.url)"
                rout> {{movie.title}} </td>
        </ng-container>

        <!-- Opening crawl Column -->
        <ng-container matColumnDef="opening_crawl">
            <th mat-header-cell
                *matHeaderCellDef> Opening crawl </th>
            <td class="cursor-pointer"
                mat-cell
                *matCellDef="let movie"
                (click)="selectMovie(movie.url)"> {{movie.opening_crawl | slice:0:128}} ...
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<app-movie *ngIf="selectedMovie"
           fxLayout="column"
           fxFlex="50"
           fxFlex.lt-sm="100"
           class="m-auto"
           [movie]="selectedMovie"
           (backToTheList)="clearSelectedMovie()"></app-movie>