<button mat-icon-button
        color="accent"
        aria-label="Example icon button with a menu icon"
        (click)="backToTheListEvent()">
    <mat-icon>arrow_back</mat-icon>&nbsp;Back to character list
</button>

<h1>{{character.name}}</h1>
<mat-list>
    <mat-list-item>
        <h3 matLine> Height: </h3>
        <span matLine>
            {{character.height}}
        </span>
    </mat-list-item>
    <mat-list-item>
        <h3 matLine> Weight: </h3>
        <span matLine>
            {{character.mass}}
        </span>
    </mat-list-item>
    <mat-list-item>
        <h3 matLine> Hair color: </h3>
        <span matLine>
            {{character.hair_color}}
        </span>
    </mat-list-item>
    <mat-list-item>
        <h3 matLine> Skin color: </h3>
        <span matLine>
            {{character.skin_color}}
        </span>
    </mat-list-item>
    <mat-list-item>
        <h3 matLine> Eye color: </h3>
        <span matLine>
            {{character.eye_color}}
        </span>
    </mat-list-item>
    <mat-list-item>
        <h3 matLine> Birth year: </h3>
        <span matLine>
            {{character.birth_year}}
        </span>
    </mat-list-item>
    <mat-list-item>
        <h3 matLine> Gender: </h3>
        <span matLine>
            {{character.gender}}
        </span>
    </mat-list-item>
    <mat-list-item>
        <h3 matLine> Movies: </h3>
        <span matLine
              *ngFor="let movie of movieList"
              (click)="goToMovie(movie.url)">
            -&nbsp;{{movie.title}}
        </span>
    </mat-list-item>
</mat-list>