<div fxLayout="row"
     fxLayoutAlign="center center"
     fxFlex>
    <mat-form-field fxFlex="50"
                    fxFlex.lt-sm="100"
                    appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput
               placeholder="Search"
               type="search"
               #input>
        <mat-icon *ngIf="!busyStatus"
                  matSuffix>search</mat-icon>
        <mat-spinner *ngIf="busyStatus"
                     matSuffix
                     [diameter]="20"
                     color="accent"></mat-spinner>

    </mat-form-field>

</div>