<div class="loading w-100 text-center">
    <h1>Opsss...</h1>
    <h2>Something went wrong</h2>
    <button mat-icon-button
            color="accent"
            class="w-100"
            aria-label="Example icon button with a menu icon"
            routerLink="/">
        <mat-icon>arrow_back</mat-icon>&nbsp;Back to homepage
    </button>
</div>