<div *ngIf="loading && !selectedCharacter"
     class="loading">
    <p>Loading characters</p>
    <mat-spinner color="accent"></mat-spinner>
</div>

<div *ngIf="!loading && !selectedCharacter"
     fxLayout="column"
     fxFlex="100">
    <app-search-character (searchResult)="displaySearchResult($event)"></app-search-character>
    <h1 style="text-align: center;">Characters</h1>
    <div fxFlex="50"
         fxFlex.lt-sm="100">
        <table *ngIf="charactersList.length"
               fxFlex="50"
               fxFlex.lt-sm="100"
               mat-table
               [dataSource]="charactersList"
               class="m-auto m-a">
            <!-- Name -->
            <ng-container matColumnDef="name">
                <th mat-header-cell
                    *matHeaderCellDef
                    class="p-l"> Name </th>
                <td mat-cell
                    class="cursor-pointer"
                    *matCellDef="let character"
                    (click)="selectCharacter(character.url)"
                    rout> {{character.name}} </td>
            </ng-container>

            <tr mat-header-row
                *matHeaderRowDef="['name']"></tr>
            <tr mat-row
                *matRowDef="let row; columns: ['name']"></tr>
        </table>
        <span *ngIf="!charactersList.length"
              class="m-auto">We can't find any matching characters to the search term</span>
    </div>
</div>

<app-character *ngIf="selectedCharacter"
               fxLayout="column"
               fxFlex="50"
               fxFlex.lt-sm="100"
               class="m-auto"
               [character]="selectedCharacter"
               (backToTheList)="clearSelectedCharacter()"></app-character>