<button mat-icon-button
        color="accent"
        aria-label="Example icon button with a menu icon"
        (click)="backToTheListEvent()">
    <mat-icon>arrow_back</mat-icon>&nbsp;Back to movie list
</button>
<h1>{{movie.title}}</h1>
<mat-list>
    <mat-list-item>
        <h3 matLine> Episode: </h3>
        <span matLine>
            {{movie.episode_id}}
        </span>
    </mat-list-item>
    <mat-list-item class="mat-list-item-word-wrap">
        <h3 matLine> Opening crawl: </h3>
        <span matLine>
            {{movie.opening_crawl}}
        </span>
    </mat-list-item>
    <mat-list-item>
        <h3 matLine> Director: </h3>
        <span matLine>
            {{movie.director}}
        </span>
    </mat-list-item>
    <mat-list-item>
        <h3 matLine> Producer: </h3>
        <span matLine>
            {{movie.producer}}
        </span>
    </mat-list-item>
    <mat-list-item>
        <h3 matLine> Release date: </h3>
        <span matLine>
            {{movie.release_date}}
        </span>
    </mat-list-item>
    <mat-list-item>
        <h3 matLine> Characters: </h3>
        <span class="cursor-pointer"
              matLine
              *ngFor="let character of characterList"
              (click)="goToCharacter(character.url)">
            -&nbsp;{{character.name}}
        </span>
    </mat-list-item>
</mat-list>